<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>PDC LOGIN</title>
    </h:head>
    <h:body>
        <h:form>
         <h:panelGrid id = "panel" columns = "2" border = "1"
            cellpadding = "10" cellspacing = "1">
            <h:outputLabel value = "Hostname ID:" />
            <h:outputLabel value = "#{infoView.hostname}" />    
            <h:outputLabel value = "Usuario que inició sesión:" />
            <h:outputLabel  value="#{infoView.usuario.user}"/>
             <f:facet name = "footer">
               <h:panelGroup style = "display:block; text-align:center">
                   <h:commandButton id = "submit" value = "Salir" actionListener="#{infoView.logout}"/>
               </h:panelGroup>
            </f:facet>
         </h:panelGrid>
      </h:form>
    </h:body>
</html>
